</div id="useractionmenu">
<form id="uploadpfp" onsubmit="updatePFP()">
    Фото профиля:<input name="pfpimage" type="file" accept="image/png,image/jpeg">
    <button name="sendpfp" type="submit">Загрузить</button>
    <button name="deletepfp" type="submit">Удалить фото профиля</button>
</form>
<div>