<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="header">
    <nav id="menu">
        <ul id="navigation">
            <li>
                <a href="about.html">About</a>
            </li>
            <li>
                <a href="gallery.html">View gallery</a>
            </li>
            <li>
                <a class="back" href="/index.html">Main page</a>
            </li>
        </ul>
    </nav>
</div>

{{>unauth_nav}}

{{{body}}}

</body>
</html>