<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="header">
    <nav id="menu">
        <ul id="navigation">
            <li>
                <a href="about.html">About</a>
            </li>
            <li>
                <a href="gallery.html">View gallery</a>
            </li>
            <li>
                <a class="back" href="/index.html">Main page</a>
            </li>
        </ul>
    </nav>
</div>

{{> auth_nav}}

{{> pfsettings}}

{{{body}}}

<script>
    const pfpUpload = document.forms.uploadpfp
    const pfpCont = document.getElementById("pfpimg")
    pfpUpload.addEventListener('submit',e=>e.preventDefault())

    function updatePFP(){
        const sendfile = pfpUpload.elements.pfpimage.files[0]
        const data = new FormData
        data.set('file',sendfile)
        fetch("/user/data/userPfp",{
            method:'post',
            headers:{
                'File-Type':'image',
                'Image-Name':sendfile.name,
                'Image-Size':sendfile.size
            },
            body:data
        }).then(res=>
        {
            return res.json()
        })
                .then(res=>{
                            console.log(res.message)
                        }
                )
                .catch(err=>{console.log(err)})
    }

</script>

</body>
</html>